<nav>
  <div style="padding-left: 20px; padding-bottom: 30px">
    <a href="/books/<%=@the_book.id%>">
      Go back
    </a>
  </div>
</nav>

<div style="padding-left: 20px">
  <h2>
    Edit My Book
  </h2>
  <hr>

  <form action="/modify_book/<%= @the_book.id %>" method="post" enctype="multipart/form-data">

    <div>
    <p>
      <label for="cover_image">Upload Image: </label>
      <input type="file" id="cover_image" name="query_cover_image" class="form-control" value="<%= @the_book.cover %>" style="width: 300px">
    </p>
    </div>

    <%=@the_book.cover%>

    <div>
      <label for="title_box">
        Title: 
      </label>

      <input type="text" id="title_box" name="query_title" value="<%= @the_book.title %>">
    </div>

    <div>
      <label for="author_box">
        Author: 
      </label>

      <input type="text" id="author_box" name="query_author" value="<%= @the_book.author %>">
    </div>

    <div>
      <label for="isbn_box">
        ISBN: 
      </label>

      <input type="text" id="isbn_box" name="query_isbn" value="<%= @the_book.isbn %>">
    </div>

    <div>
      <label for="list_price_box">
        List Price: 
      </label>

      <input type="number" id="list_price_box" name="query_list_price" value="<%= @the_book.list_price %>" min="0.00" step="0.01">
    </div>

    <div>
      <label for="description_box">
        Description: 
      </label>

      <textarea id="description_box" name="query_description"><%= @the_book.description %></textarea>
    </div>

    <div>
      <input type="hidden" id="seller_id_box" name="query_seller_id" value="<%= @the_book.seller_id %>">
    </div>

    <div>
      <label for="course_info_box">
        Course Info: 
      </label>

      <textarea id="course_info_box" name="query_course_info"><%= @the_book.course_info %></textarea>
    </div>

    <button>
      Update Book
    </button>
  </form>
</div>

<hr>
