<div>
  <div>
    <h1>
      List of all books
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new book
    </h2>

    <form action="/insert_book" method="post">
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title">
      </div>

      <div>
        <label for="author_box">
          Author
        </label>

        <input type="text" id="author_box" name="query_author">
      </div>

      <div>
        <label for="isbn_box">
          Isbn
        </label>

        <input type="text" id="isbn_box" name="query_isbn">
      </div>

      <div>
        <label for="list_price_box">
          List price
        </label>

        <input type="text" id="list_price_box" name="query_list_price">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description" rows="3"></textarea>
      </div>

      <div>
        <label for="seller_id_box">
          Seller
        </label>

        <input type="text" id="seller_id_box" name="query_seller_id">
      </div>

      <div>
        <label for="course_info_box">
          Course info
        </label>

        <textarea id="course_info_box" name="query_course_info" rows="3"></textarea>
      </div>

      <button>
        Create book
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Title
        </th>

        <th>
          Author
        </th>

        <th>
          Isbn
        </th>

        <th>
          List price
        </th>

        <th>
          Description
        </th>

        <th>
          Seller
        </th>

        <th>
          Course info
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_books.each do |a_book| %>
      <tr>
        <td>
          <%= a_book.id %>
        </td>

        <td>
          <%= a_book.title %>
        </td>

        <td>
          <%= a_book.author %>
        </td>

        <td>
          <%= a_book.isbn %>
        </td>

        <td>
          <%= a_book.list_price %>
        </td>

        <td>
          <%= a_book.description %>
        </td>

        <td>
          <%= a_book.seller_id %>
        </td>

        <td>
          <%= a_book.course_info %>
        </td>

        <td>
          <%= time_ago_in_words(a_book.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_book.updated_at) %> ago
        </td>

        <td>
          <a href="/books/<%= a_book.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<% Book.all do |a_book|%>
  <div class="card" style="width: 15rem;">
    <img src="https://images.penguinrandomhouse.com/cover/9780739360385" class="card-img-top" alt="..." width="250" height="250">
    <div class="card-body" align="center">
      <h4 class="card-title"><%=a_book.title%></h4>
      <p class="card-text"><%=a_book.list_price%></p>
      <a href="/books/<%=a_book.id%>" class="btn btn-primary">Click for more details</a>
    </div>
  </div>
<% end %>
