<nav>
  <div>
    <a href="/">
      Go back
    </a>
  </div>
</nav>

<div>
  <div>
    <h1>
      List of all books
    </h1>
  </div>
</div>

<hr>

<div class="container-flex" align="center">
<div class="border border-dark" align="center" style="width: 40rem; background: AliceBlue">
<%= search_form_for @q do |f| %>
  <p><h3>Search a Book: </h3></p>

  <div>
    <%= f.label :title_cont, "Book Title: " %>
    <%= f.text_field :title_cont, :placeholder => "Contains characters..." %>
  </div>

  <div>
    <%= f.label :author_cont, "Author: " %>
    <%= f.text_field :author_cont, :placeholder => "Contains name..." %>
  </div>

  <div style="width: 30rem;">
  <%= f.submit :class => "btn btn-primary btn-block" %>
  </div>
  
  <div align="center">
  <a href="/books">Clear filters</a>
  </div>
<% end %>
</div>
</div>

<%#
<hr>
<div>
  <div>
    <h2>
      <Add a new book>
    </h2>

    <form action="/insert_book" method="post">
      <div>
        <label for="title_box">
          <Title>
        </label>

        <input type="text" id="title_box" name="query_title">
      </div>

      <div>
        <label for="author_box">
          <Author>
        </label>

        <input type="text" id="author_box" name="query_author">
      </div>

      <div>
        <label for="isbn_box">
          <Isbn>
        </label>

        <input type="text" id="isbn_box" name="query_isbn">
      </div>

      <div>
        <label for="list_price_box">
          <List price>
        </label>

        <input type="text" id="list_price_box" name="query_list_price">
      </div>

      <div>
        <label for="description_box">
          <Description>
        </label>

        <textarea id="description_box" name="query_description" rows="3"></textarea>
      </div>

      <div>
        <label for="seller_id_box">
          <Seller>
        </label>

        <input type="text" id="seller_id_box" name="query_seller_id">
      </div>

      <div>
        <label for="course_info_box">
          <Course info>
        </label>

        <textarea id="course_info_box" name="query_course_info" rows="3"></textarea>
      </div>

      <button>
        <Create book>
      </button>
    </form>
  </div>
</div>
%>

<hr>
<div>
  <div>
    <table border="1">
      <tr align="center">
        <th>
          Cover Image
        </th>

        <%#th%>
          <%#ID%>
        <%#/th%>
        

        <th>
          Title
        </th>

        <th>
          Author
        </th>

        <th>
          ISBN
        </th>

        <th>
          List Price
        </th>

        <th>
          Description
        </th>

        <th>
          Seller
        </th>

        <th>
          Course info
        </th>

        <%#th%>
          <%#Created at%>
        <%#/th%>

        <%#th%>
          <%#Updated at%>
        <%#/th%>

        <th>
        </th>
      </tr>

      <% @books.each do |a_book| %>
      <tr align="center">
        <td>
          <img src="<%= a_book.cover %>" class="img-responsive" width="200" height="200">
          <%#= a_book.cover %>
        </td>

        <%#td%>
          <%#= a_book.id %>
        <%#/td%>
        

        <td>
          <%= a_book.title %>
        </td>

        <td>
          <%= a_book.author %>
        </td>

        <td>
          <%= a_book.isbn %>
        </td>

        <td>
          <%= a_book.list_price.to_s(:currency, { :precision => 2 }) %>
        </td>

        <td>
          <%= a_book.description %>
        </td>

        <td>
        <% if session.fetch(:user_id) == nil %>
          <%#= User.all.where(:id => a_book.seller_id).at(0).first_name %>
          <%#= a_book.seller_name.first_name %>
          <%= a_book.seller_id %>
        <% elsif session.fetch(:user_id) != nil %>
          <%= User.where({:id => a_book.seller_id}).at(0).first_name %> <%= User.where({:id => a_book.seller_id}).at(0).last_name %>
        <% end %>
        </td>

        <td>
          <%= a_book.course_info %>
        </td>

        <%#td%>
          <%#= time_ago_in_words(a_book.created_at) %> 
          <%#ago%>
        <%#/td%>
        <%#td%>
          <%#= time_ago_in_words(a_book.updated_at) %> 
          <%#ago%>
        <%#/td%>

        <td>
          <a href="/books/<%= a_book.id %>">
            More Info!
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>


<% Book.all do |a_book| %>
  <div class="card" style="width: 15rem;">
    <img src="<%= book.cover %>" class="img-responsive">
    #<img src="https://images.penguinrandomhouse.com/cover/9780739360385" class="card-img-top" alt="..." width="250" height="250">

    <div class="card-body" align="center">
      <h4 class="card-title"><%=a_book.title%></h4>
      <p class="card-text"><%=a_book.list_price%></p>
      <a href="/books/<%=a_book.id%>" class="btn btn-primary">Click for more details</a>
    </div>

  </div>
<% end %>
