<nav>
  <div>
    <a href="/books">
      Go back
    </a>
  </div>
</nav>


<div>
  <div>
    <h1>
      <%= @the_book.title %>
    </h1>

    <h1>
    <%#Book #<%= @the_book.id %> 
      <%#details%>
    </h1>

    <dl>
      <dt>
        <%#Title%>
      </dt>
      <dd>
        <%#= @the_book.title %>
      </dd>

      <dt>
        
      </dt>
      <dd>
        <img src="<%= @the_book.cover %>" class="img-responsive" width="200" height="200">
      </dd>

      <dt>
        Author
      </dt>
      <dd>
        <%= @the_book.author %>
      </dd>

      <dt>
        Isbn
      </dt>
      <dd>
        <%= @the_book.isbn %>
      </dd>

      <dt>
        List price
      </dt>
      <dd>
        <%= @the_book.list_price %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_book.description %>
      </dd>

      <dt>
        Course info
      </dt>
      <dd>
        <%= @the_book.course_info %>
      </dd>

      <dt>
        <%#Created at%>
      </dt>
      <dd>
        <%#= time_ago_in_words(@the_book.created_at)%>
        <%# ago %>
      </dd>

      <dt>
        <%#Updated at%>
      </dt>
      <dd>
        <%#= time_ago_in_words(@the_book.updated_at)%> 
        <%# ago %> 
      </dd>

      <dt>
        Seller Name
      </dt>
      <dd>
        <% if session.fetch(:user_id) != nil %>
          <% @the_book.seller_id %>
          <mark><%= @seller.first_name %> <%= @seller.last_name %></mark>
        <% elsif session.fetch(:user_id) == nil %>      
          <%= @the_book.seller_id %>
        <% end %>
      </dd>

      <dt>
        Seller Contact
      </dt>
      <dd>
        <% if session.fetch(:user_id) != nil %>
          <mark><%= @seller.email %></mark>
        <% elsif session.fetch(:user_id) == nil %>
        <% end %>
      </dd>

      <dt>
      Seller Alternative Contact
      </dt>
      <dd>
        <% if session.fetch(:user_id) != nil %>
          <%= @seller.alt_contact_info %>
        <% elsif session.fetch(:user_id) == nil %>
        <% end %>
      </dd>

      <%# elsif session.fetch(:user_id) == false %>
      <dt>
      </dt>
      <dd>
      </dd>
      <%# end %>
    </dl>
  </div>
</div>

<% if @the_book.seller_id == session.fetch(:user_id) %>
<div>
  <p align="center">
    <a href="/delete_book/<%= @the_book.id %>">
      <button type="button" class="btn btn-outline-danger">Delete Book</button>
    </a>
  </p>
</div>
<%elsif @the_book.seller_id != session.fetch(:user_id) %>
<div>
</div>
<%end%>

<hr>


