<nav>
  <div>
    <a href="/books">
      Go back
    </a>
  </div>
</nav>


<div>
  <div>
    <h1>
      Book #<%= @the_book.id %> details
    </h1>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @the_book.title %>
      </dd>

      <dt>
        Author
      </dt>
      <dd>
        <%= @the_book.author %>
      </dd>

      <dt>
        Isbn
      </dt>
      <dd>
        <%= @the_book.isbn %>
      </dd>

      <dt>
        List price
      </dt>
      <dd>
        <%= @the_book.list_price %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_book.description %>
      </dd>

      <dt>
        Seller
      </dt>
      <dd>
        <%= @the_book.seller_id %>
      </dd>

      <dt>
        Course info
      </dt>
      <dd>
        <%= @the_book.course_info %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_book.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_book.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<% if @the_book.seller_id == session.fetch(:user_id) %>
<div>
  <p align="center">
    <a href="/delete_book/<%= @the_book.id %>">
      <button type="button" class="btn btn-outline-danger">Delete Book</button>
    </a>
  </p>
</div>
<%elsif @the_book.seller_id != session.fetch(:user_id) %>
<div>
</div>
<%end%>

<hr>


