<nav>
  <div style="padding-left: 20px; padding-bottom: 30px">
    <a href="/">
      Go back
    </a>
  </div>
</nav>

<div style="padding-left: 20px">
<h2>My User Profile</h2>

<hr>

<p>
</p>

<div>
<div class="d-flex">
<h4>Name: <span style="font-weight: 240;"><%=@current_user.first_name%> <%=@current_user.last_name%></span></h4>
</div>


<h4>Email: <span style="font-weight: 240;"><%=@current_user.email%></span></h4>
<h4>Alt. Contact Info.: <span style="font-weight: 240;"><%=@current_user.alt_contact_info%></span></h4>
</div>

<a href="/edit_user_profile">
<button>Edit My Profile</button>
</a>

<hr>

<div>
<h2> Books Listed by You! </h2> 

<div>
<a href="/add_book_form">
<button type="button" class="btn btn-outline-primary">+ Add a New Book!</button>
</a>
</div>

<p>
<div class="row">
<% @current_user_books.each do |a_book| %>
    <div class="col-md-2">
    <div class="card" style="width: 14.5rem; height: 25rem;">
        <img src="<%=a_book.cover%>" class="card-img-top" width="250" height="250">
            <div class="card-body" align="center">
            <span class="d-inline-block text-truncate" style="max-width: 190px;">
                <h5 class="card-title"><%=a_book.title%></h5>
            </span>
                <p class="card-text"><%=a_book.list_price.to_s(:currency, { :precision => 2 })%></p>
                <a href="/books/<%=a_book.id%>" class="btn btn-primary">Click for more details</a>
            </div>
    </div>
    </div>
<% end %>
</div>
</p>

<div>
<p align="center">
<a href="/cancel_user_account">
<button type="button" class="btn btn-outline-danger">Delete My Account</button>
</a>
</p>
</div>
</div>